<!doctype html>
<html>
<head>
	<title>BattleMagick!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!---*-*-*-*-*-*-*-*-*-*-*-*|BattleMagick homepage|*-*-*-*-*-*-*-*-*-*-*-*--->
    <img id="banner" src="./img/banner.jpg">
    <a href="/"><img id="banner-header" src="./img/logo.png"></a>
<div id="wrap">
    <div id="main">
        <h3>Limitlessness awaits</h3>
        {{{body}}}
    </div>
</div>

<ul id="footer">
    <li><a href="/wizards">Explore Wizards</a></li>
    <li><a href="/creatures">Explore Creatures</a></li>
    <li><a href="/spells">Explore Spells</a></li>
    <li><a href="/potions">Explore Potions</a></li>
</ul>
</body>
</html>