<!doctype html>
<html>
<head>
	<title>BattleMagick!</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <!---*-*-*-*-*-*-*-*-*-*-*-*|BattleMagick homepage|*-*-*-*-*-*-*-*-*-*-*-*--->
    <img id="banner" src="./img/banner.jpg">
    <a href="/"><img id="banner-header" src="./img/logo.png"></a>
    <div id="main">
        <h3>Leave your limitations behind</h3>
        {{{body}}}
    </div>
</body>
</html>