<!doctype html>
<html>
<head>
	<title>Workout Table</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <!---*-*-*-*-*-*-*-*-*-*-*-*|BattleMagick homepage|*-*-*-*-*-*-*-*-*-*-*-*--->
    <img id="banner" src="./img/banner.jpg">
    <img id="banner-header" src="./img/BattleMagick_logo.png">   
    <div id="main">
        <h3>Leave your expectations behind you</h3>
        {{{body}}}
    </div>
</body>
</html>