<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BattleMagick!</title>
        <meta name="description" content="Leave your expectations behind you">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--BattleMagick homepage-->
        <img id="banner" src="./img/banner.jpg">
        <img id="banner-header" src="./img/BattleMagick_logo.png">   
    <div id="main">
        <h3>Leave your expectations behind</h3>
        <p><b>General Use Queries (30%)</b> I want to see all of the queries that will be used to select, update, add or delete data. Because many of these will be based on user input, use square brackets to act as place holders for variables that will be user provided. For example, if I were going to query based on employee salaries, I might have a query like this: 
        SELECT salary FROM employee WHERE salary > [salaryInput ]; Another example - INSERT INTO employee(name, age) VALUES ([user],[name]);<br></p>
        <fieldset><legend>Wizards</legend>
        <form id="newWizard" action="/new-wiz" method="get">
            Name: <input type="text" name="name" id="name">
            Magick: <input type="text" name="magick" id="level">
            Life: <input type="text" name="life" id="life">
            Special:<select name="special">
                <option value="fire">Fire</option>
                <option value="ice">Ice</option>
                <option value="lightning">Lightning</option>
                <option value="astral">Astral</option>
            </select>
            <input type="submit" value="Create" id="create">
        </form>
        <form id="updateWizard" action="/update-wiz" method="get">
            Name: <input type="text" name="name" id="name">
            Magick: <input type="text" name="magick" id="level">
            Life: <input type="text" name="life" id="life">
            Special:<select name="special">
                <option value="fire">Fire</option>
                <option value="ice">Ice</option>
                <option value="lightning">Lightning</option>
                <option value="astral">Astral</option>
            </select>
            <input type="submit" value="Update" id="update">
        </form>
        <form id="deleteWizard" action="/delete-wiz" method="get">
            Name: <input type="text" name="name" id="name">
            <input type="submit" value="Delete" id="delete">
        </form>
        </fieldset>

    </div>
    </body>
    <script src="./action.js"></script>
    <script src="./game.js"></script>

</html>

<!-- Alacr1ty -->
