    <p><b>General Use Queries (30%)</b>all queries that will be used to select, update, add or delete data. Because many of these will be based on user input, use square brackets to act as place holders for variables that will be user provided. For example, if I were going to query based on employee salaries, I might have a query like this: 
    SELECT salary FROM employee WHERE salary > [salaryInput ]; Another example - INSERT INTO employee(name, age) VALUES ([user],[name]);<br></p>
<h3>{{message}}</h3>
 <br>