<h1>Thank you for checking out the BattleMagick! beta </h1>

<h2>What would you like to do?</h2>
<ul>
    <li><a href="/wizards">Explore Wizards</a></li>
    <li><a href="/creatures">Explore Creatures</a></li>
    <li><a  href="/spells">Explore Spells</a></li>
    <li><a  href="/potions">Explore Potions</a></li>
    <li><a  href="/img/SCD.png">View the Database Diagram</a></li>
    <li><a  href="/img/ERD.png">View the Entity-Relationship Diagram</a></li>
    <li><a  href="/AvaCordero.pdf">Download the report</a></li>
    <li><a  href="github.com/alacr1ty/BattleMagick">Check out the GitHub Repo</a></li>
    
    
</ul>